	<footer id="footer" class="dark nomargin">
  
	<div id="copyrights">
		<div class="footer-container clearfix">
		  <div class='row nomargin'>
			<div class='info col-md-6 col-xs-3 '>
			  <div class='info-logo'>
				<img src="/collab/images/logo.svg">
			  </div>
			  <div class='info-details col-text-en hidden-xs hidden-sm'>
				Copyrights &copy; 2018 All Rights Reserved by Collab Asia Inc.<img src="/collab/images/ytbct.svg" class="ytbct">certified
			  </div>
			</div>
			<div class="nav col-md-6 col-xs-9 ">
			  <div class="copyrights-menu copyright-links fright clearfix hidden-xs"> <a href="/cl/index.html">소개</a>|<a href="/cl/creators.html">크리에이터</a>|<a href="/cl/about.html">브랜드 & 광고</a>|<a href="/cl/drm.html">저작권 관리</a>|<a href="/cl/music.html">음원 유통</a>|<a href="/cl/login.html">문의하기</a></div>
			  <div class="copyrights-menu copyright-links fright clearfix visible-xs"> <a href="/cl/index.html">소개</a>|<a href="/cl/creators.html">크리에이터</a>|<a href="/cl/about.html">브랜드 & 광고</a><a href="/cl/drm.html">저작권 관리</a>|<a href="/cl/music.html">음원 유통</a>|<a href="/cl/login.html">문의하기</a></div>			  

				<div class=" visible-xs">
					<a class="col-email col-text-en sc4" href="mailto:contact@collabasia.co">contact@collabasia.co</a>	
					<div class="clear"></div>
				</div>
				<div class="">
				  				
				  <a href="https://www.linkedin.com/company/collab-asia" target="_blank" class="sc3"><img src='/collab/icons/home/lkinicon_off.png' id="sc3"></a>				
				  <a href="https://www.instagram.com/collab_korea/" target="_blank" class="sc2"><img src='/collab/icons/home/insicon_off.png' id="sc2"></a>
				  <a href="https://www.youtube.com/user/Collabkorea" target="_blank" class="sc1"><img src='/collab/icons/home/yticon_off.png' id="sc1"></a>
				  <a class="col-email col-text-en sc4 hidden-xs" href="mailto:contact@collabasia.co">contact@collabasia.co</a>				  
				</div>
		

			</div>
		  </div>
		  <div class='row nomargin visible-xs visible-sm'>		  
			  <div class='info-details col-text-en '>
				Copyrights &copy; 2018 All Rights Reserved by Collab Asia Inc.<img src="/collab/images/ytbct.svg" class="ytbct">certified
			  </div>	
		  </div>
		</div>
	</div>
  
	</footer>