<div class="body-overlay">
</div>
<div id="side-panel" class="dark">
  <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>
  <div class="side-panel-wrap">
    <div class="widget widget_links clearfix">
      <div> <a href="https://dashboard.collabcreators.com/users/sign_in" target="_blank" class="button button-border button-light button-rounded">대시보드 로그인</a> </div>
    </div>
    <div class="widget widget_links clearfix">
      <div> <a href="/login" class="button button-border button-light button-rounded">함께 해요</a> </div>
    </div>
    <div class="widget quick-contact-widget clearfix">
      <h4>SNS 계정</h4>
      <a href="https://ja-jp.facebook.com/pg/CollabJapan/about/" target="_blank" class="social-icon si-small si-colored si-facebook" title="Facebook"> <i class="icon-facebook"></i> <i class="icon-facebook"></i> </a> <a href="https://twitter.com/Collab_Japan"
        target="_blank" class="social-icon si-small si-colored si-twitter" title="Twitter"> <i class="icon-twitter"></i> <i class="icon-twitter"></i> </a> <a href="https://www.linkedin.com/company/collab-asia" target="_blank" class="social-icon si-small si-colored si-linkedin"
        title="LinkedIn"> <i class="icon-linkedin"></i> <i class="icon-linkedin"></i> </a> <a href="https://www.instagram.com/collab_japan/" target="_blank" class="social-icon si-small si-colored si-instagram" title="Instagram"> <i class="icon-instagram"></i> <i class="icon-instagram"></i> </a>
    </div>
  </div>
</div>
