 {{ define "main" }}

{{ partial "side.html" . }}
<!-- Document Wrapper ============================================= -->
<div id="wrapper" class="clearfix">
	<!-- header section -->
	{{ partial "nav.html" . }}
	<!-- header end -->
	<!-- Slider ============================================= -->
	<section id="slider" class="slider-parallax full-screen force-full-screen">
		<div class="slider-parallax-inner">
			<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden">
				<div class="container center"></div>
				<div class="video-wrap no-placeholder">
          <div class="video-placeholder" style="background-image: url('/collab/images/home/home-title.png');"></div>
					<div class="video-overlay">
            <div class='col-heading-overlay'>
              <p class='col-text-heading col-text-en'>WE</p>
              <p class='col-text-heading col-text-en'>ARE</p>
              <p class='col-text-heading col-text-en'>COLLAB.</p>
              <p class='col-text-heading-sub'>세상의 모든 크리에이터들을 위한</p>
              <p class='col-text-heading-sub'>글로벌 디지털 네트워크</p>
            </div>
          </div>
				</div>
				<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
			</div>
		</div>
	</section>
	<!-- #slider end -->
	<!-- Content ============================================= -->
	<section id="content">
		<div class="content-wrap nopadding">
			<!-- Video 2 -->
			<div id="section-about" class="page-section">
				<div class="container clearfix">
					<div class="sc-content col-text-keep-all">
						<h2 class="col-text-head1-sup">세상의 모든 크리에이터들을 위한</h2>
						<h2 class="col-text-head1">글로벌 디지털 네트워크</h2>
            <p class="col-text-head1-sub">Collab Asia는 유튜브를 포함한 다양한 디지털 플랫폼 크리에이터들의 글로벌 네트워크입니다. 전세계 크리에이터들의 자유로운 창작 활동과 수익 창출을 지원합니다. </p>
            <p class='col-text-head1-sub'>Collab Asia는 2017년 설립되어 한국, 일본, 홍콩, 인도네시아, 필리핀, 싱가포르 등
6개 국가에서 크리에이터들과 함께하고 있습니다.
영상 및 음악 콘텐츠의 글로벌 유통과 디지털 저작권 관리 서비스로 사업영역을 다각화 하며 빠르게 성장하고 있습니다. </p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div id="section-services" class="page-section dark" style="background: #3a3a3a">
			<div class="container clearfix">
				<div class="sc-content">
          <div>
            <h2 class="col-text-head2 col-text-en">Collab Global Offices <hr class='col-text-hr'/></h2>
          </div>
				</div>
			</div>
      <img src='/collab/images/home/globa-office.jpg' style="display: block; margin: auto">
    </div>
		<div class="page-section">
			<div class="container clearfix">
				<div class="sc-content">
          <div>
            <h2 class="col-text-head2 col-text-en">History of Collab</h2>
            <ul class='col-list col-text-keep-all'>
              <li><span class='col-text-list-head col-text-en'>2006 <hr class='col-text-hr'/></span><span class='col-text1'>미국 크리에이터 McFadden 형제들이 Collab의 전신인 ‘GoPotato TV’ 스튜디오 창업</span></li>
              <li><span class='col-text-list-head col-text-en'>2012 <hr class='col-text-hr'/></span><span class='col-text1'>YouTube 공식 파트너사로 MCN ‘Collab’ 설립</span></li>
              <li><span class='col-text-list-head col-text-en'>2013 <hr class='col-text-hr'/></span><span class='col-text1'>‘Vine’ 크리에이터들과 파트너쉽 프로그램 시작
아시아 지역 YouTube 크리에이터 네트워크 확장</span></li>
              <li><span class='col-text-list-head col-text-en'>2014 <hr class='col-text-hr'/></span><span class='col-text1'>디지털 영상 저작권 관리 서비스 시작</span></li>
              <li><span class='col-text-list-head col-text-en'>2015 <hr class='col-text-hr'/></span><span class='col-text1'>‘Collab’ 전체 YouTube 채널 월 10억 뷰 도달</span></li>
              <li><span class='col-text-list-head col-text-en'>2017 <hr class='col-text-hr'/></span><span class='col-text1'>‘Collab Asia’ 설립, 한국, 일본, 인도네시아 지사 설립
디지털 음원 저작권 관리 서비스 시작</span></li>
              <li><span class='col-text-list-head col-text-en'>2018 <hr class='col-text-hr'/></span><span class='col-text1'>중국, 필리핀 지사 설립</span></li>
              <li><span class='col-text-list-head col-text-en'>2019 <hr class='col-text-hr'/></span><span class='col-text1'>‘Collab Asia’ 크리에이터 파트너쉽 1,800개 채널 도달</span></li>
            </ul>
          </div>
				</div>
			</div>
    </div>
		<div class="page-section" style="background-color: #fafafa;">
			<div class="container clearfix">
				<div class="sc-content">
          <h2 class="col-text-head3 col-text-keep-all">콜랩 아시아의 크리에이터 네트워크 현황<span class='col-text1 nocolor'>2019년 10월 기준</span></h2>
          <div class='col-home-history-details'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='col-icon-text-container'>
                  <span class='col-text1 col-text-color-red col-text-weight-bold'>크리에이터 파트너쉽</span><img class='col-icon' src="/collab/icons/home/channels.svg">
                </div>
                <div class='col-text-en'>
                  <span class='col-text2'>1,800 </span><span class='col-text1 col-text-weight-semi-bold'>/ Channels</span>
                </div>
              </div>
              <div class='col-md-4'>
                <div class='col-icon-text-container'>
                  <span class='col-text1 col-text-color-red col-text-weight-bold'>전체 구독자수</span><img class='col-icon' src="/collab/icons/home/subscribers.svg">
                </div>
                <div class='col-text-en'>
                  <span class='col-text2'>166M </span><span class='col-text1 col-text-weight-semi-bold'>/ Subscribers</span>
                </div>
              </div>
              <div class='col-md-4'>
                <div class='col-icon-text-container'>
                  <span class='col-text1 col-text-color-red col-text-weight-bold'>월평균 누적 조회수</span><img class='col-icon' src="/collab/icons/home/views.svg">
                </div>
                <div class='col-text-en'>
                  <span class='col-text2'>2,400M </span><span class='col-text1 col-text-weight-semi-bold'>/ Views</span>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
    </div>
		<div class="page-section red col-contact-container">
			<div class="container clearfix">
				<div class="sc-content pull-right">
          <span class='col-text3'>더 많은 정보가 필요하신가요?<hr class='col-text-hr'></span>
          <a class='col-btn-outline' href='/login'>문의하기</a>
				</div>
			</div>
    </div>

    {{ partial "contact.html" . }}

			<!-- #content end -->
	</section>
  <!-- Footer ============================================= -->
  {{ partial "footer2.html" . }}
  <!-- #footer end -->
	</div>
	<!-- #wrapper end -->

	{{ end }}
