{{ define "main" }}

{{ partial "side.html" . }}
<!-- Document Wrapper ============================================= -->

<body>
	<div id="wrapper" class="clearfix">
		<!-- header section -->
    {{ partial "nav.html" . }}
		<!-- header end -->
		<!-- Slider ============================================= -->
		<section id="slider" class="slider-parallax full-screen force-full-screen">
			<div class="slider-parallax-inner">
				<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden">
					<div class="container center"></div>
					<div class="video-wrap no-placeholder">
            <div class="video-placeholder" style="background-image: url('/collab/images/music/music-title.png');"></div>
            <div class="video-overlay vdext">
              <div class='col-heading-overlay'>
                <p class='col-text-heading col-text-en'>GET YOUR</p>
                <p class='col-text-heading col-text-en'>MUSIC PLAYED</p>
                <p class='col-text-heading col-text-en'>ALL OVER THE WORLD</p>
                <p class='col-text-heading-sub'>여러분의 음악을</p>
                <p class='col-text-heading-sub'>전 세계 팬들에게 들려주세요.</p>
              </div>
            </div>
					</div>
					<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
				</div>
			</div>
		</section>
    <div class='container col-position-relative hidden-xs'>
      <div class='col-heading-arrow'></div>
    </div>
    <section id="content">
      <div class="content-wrap nopadding nomargin">
        <div id="section-music" class="page-section">
          <div class="container clearfix ">
            <h2 class="col-text-head2 col-text-en">Collab Asia Music Distribution</h2>
            <p class='col-text3 col-text-color-red col-text-weight-bold'>Collab Asia 음원 유통</p>
            <p class='col-text4 col-text-keep-all'>Collab Asia는 여러분의 음악 창작 활동을 응원합니다. <br class="pbr">Collab Asia의 음원 유통 서비스를 통해 쉽고 빠르게 음악을 발매해보세요.</p>
            <ul class='col-list mgt20'>
              <li class='col-flex-center'>
                <img class='col-icon col-list-img' src='/collab/icons/music/camd1.svg'>
                <div class='col-list-content'>
                  <div class='col-lits-content-title'>언제 어디서든 쉽고 간단하게</div>
                  <div class='col-lits-content-sub'>유통 계약부터 음원 발매, 수익 정산까지 모든 과정을  <br class="pbr">온라인으로 빠르고 편리하게 이용하실 수 있습니다.</div>
                </div>
              </li>
              <li class='col-flex-center'>
                <img class='col-icon col-list-img' src='/collab/icons/music/camd2.svg'>
                <div class='col-list-content'>
                  <div class='col-lits-content-title'>직배급망으로 더 빠르게</div>
                  <div class='col-lits-content-sub'>Collab Asia는 YouTube공인 MCN으로서 직배급망을 통해 <br class="pbr">YouTube Music에 더 빠르게 음원을 발매하실 수 있습니다.</div>
                </div>
              </li>
              <li class='col-flex-center'>
                <img class='col-icon col-list-img' src='/collab/icons/music/camd3.svg'>
                <div class='col-list-content'>
                  <div class='col-lits-content-title'>음원 수익 관리까지 빠짐없이</div>
                  <div class='col-lits-content-sub'>Collab Asia만의 저작물 관리 노하우로 누락되는 <br class="pbr">수익이 없도록 철저히 모니터링합니다.</div>
                </div>
              </li>
            </ul>			
          </div>
        </div>
		
        <div class="page-section ">
          <div class="container clearfix nopadding">
            <h2 class="col-text-head3 col-text-color-red col-text-en ">음원 유통 신청 안내</h2>			
            <p class='col-text6 '>1. 아래 '음원 유통 신청하기' 버튼을 클릭한 후, Google 신청서를 작성하여 제출해 주세요.  <br class="pbr">2. 접수된 파일은 내부적으로 검토 후, 음원 발매 진행 여부를 메일로 알려드립니다.</p>
            <p class='col-text7 '>* 문의사항은 <a href="mailto:musicpartnerships@collabasia.co">musicpartnerships@collabasia.co</a>로 연락주시기 바랍니다.</p>			
			<div class="reqbtn">음원 유통 신청하기</div>
          </div>
        </div>


      </div>
    </section>
	</div>
  {{ partial "footer2.html" . }}

{{ end }}
