{{ define "main" }}

{{ partial "side.html" . }}
<!-- Document Wrapper ============================================= -->
<div id="wrapper" class="clearfix">
	<!-- header section -->
  {{ partial "nav.html" . }}
	<!-- header end -->
	<!-- Slider ============================================= -->
	<section id="slider" class="slider-parallax full-screen force-full-screen">
		<div class="slider-parallax-inner">
			<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden">
				<div class="container center"></div>
				<div class="video-wrap no-placeholder">
          <div class="video-placeholder" style="background-image: url('/collab/images/ba/ba-title.png');"></div>
					<div class="video-overlay">
            <div class='col-heading-overlay'>
              <p class='col-text-heading col-text-en'>YOUR BRAND.</p>
              <p class='col-text-heading col-text-en'>OUR NETWORK.</p>
              <p class='col-text-heading col-text-en'>LET’S GO!</p>
              <p class='col-text-heading-sub mmgt10'>당신의 브랜드.</p>
              <p class='col-text-heading-sub'>우리의 네트워크.</p>
              <p class='col-text-heading-sub'>함께해요.</p>
            </div>
          </div>
				</div>
				<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
			</div>
		</div>
	</section>
  <div class='container col-position-relative mpdl40'>
    <div class='col-heading-arrow'></div>
  </div>
	<section id="content">
	   <div class="content-wrap nopadding nomargin">
	   <div id="section-ba" class="page-section ">
				<div class="container clearfix mmgt50">
          <h2 class="col-text-head2 col-text-en">Brand Campaign</h2>
          <div class='row'>
            <p class='col-md-12 col-text4 col-text-keep-all'>국내를 넘어 전 세계에 여러분의 브랜드를 선보이고 싶으신가요?  <br class="mbr"><br class="pbr">아시아 전역에 있는 콜랩의 크리에이터와 함께 <br class="mbr">브랜드를 효과적으로 홍보할 수 있습니다.</p>
			<p class='col-md-12 col-text4 col-text-keep-all'>콜랩아시아는 브랜드 및 상품에 최적화된 <br class="mbr">디지털 미디어 홍보 기획과 제작을 실현시킵니다. <br class="mbr"><br class="pbr">아울러 오랜 디지털 미디어 집행 노하우로 전문적인 실행과 <br class="mbr">고도의 분석까지 <br class="tbr">책임지는 차별화된 서비스를 제공합니다. <br class="mbr"><br class="pbr">국내 유일 Global 디지털 콘텐츠 네트워크, 콜랩아시아와 함께하세요.</p>
          </div>
				</div>
      </div>
	  
      <div class="page-section col-brand-container">
		  <div class="container clearfix ">
          <div class='row ' >
            <div class='col-md-6 visible-xs visible-sm nopadding nomargin'>
               <img src='/collab/images/ba/bci1.png' class="bci1">
            </div>
            <div class='col-md-6 ' >
              <div class='row mpd17'>
				<h2 class="col-text-head3a col-text-en">Influencer Marketing</h2>
                <h3 class='col-text-3a'>전 세계 크리에이터와의 협업</h3>
				<p class='col-text-5'>콜랩아시아의 크리에이터 네트워크를 통해 브랜드를 <br class="mbr"><br class="pbr">일본, 인도네시아, 베트남 등 해외까지 홍보할 수 있습니다</p>
              </div>
              <div class='row mpd17'>
                <h3 class='col-text-3a'>폭 넓은 분야의 전문성</h3>
				<p class='col-text-5'>일상, 게임, 뷰티, Kids, 미디어 등 다양한 분야의 크리에이터와 <br class="pbr">함께 <br class="mbr">브랜드에 최적화된 마케팅을 진행할 수 있습니다.</p>
              </div>			  
            </div>
            <div class='col-md-6 hidden-xs hidden-sm  nopadding' >
              <img src='/collab/images/ba/bci1.png' class="bci1" >
            </div>
          </div>
        </div>
      </div>
	  
      <div class="page-section col-brand-container">
		  <div class="container clearfix confw">
          <div class='row'>
            <div class='col-md-6 hidden-xs nopadding  '>
              <img src='/collab/images/ba/bci2.png' class="bci2">
            </div>
            <div class='col-md-6 visible-xs nopadding  '>
              <img src='/collab/images/ba/bci2.png' class="bci2">
            </div>			
            <div class='col-md-6 pdlt1 '>
              <div class='row mpd20'>
				<h2 class="col-text-head3a2 col-text-en">Branded Content</h2>
                <h3 class='col-text-3a'>최적의 핏, 최고의 스토리</h3>
				<p class='col-text-5'>브랜드 스토리와 최적의 핏인 크리에이터가 호소력 높은 콘텐츠를 제작, <br class="mbr"><br class="pbr">크리에이터 채널에 올려 홍보해드립니다.</p>
              </div>
              <div class='row mpd20'>
                <h3 class='col-text-3a'>고품질의 영상 제작</h3>
				<p class='col-text-5'>광고 전문 인력이 영상을 기획하여 크리에이터가 출연하는 <br class="mbr"><br class="pbr">브랜드 영상을 제작해드립니다.</p>
              </div>		
              <div class='row mpd20'>
                <h3 class='col-text-3a'>채널 최적화 콘텐츠</h3>
				<p class='col-text-5'>오랜 채널 관리 노하우로 가장 유튜브다운 콘텐츠를 만들어드립니다.</p>
              </div>			  
            </div>

          </div>
        </div>
      </div>	  

	   <div class="page-section col-brand-container">
		  <div class="container clearfix ">
          <div class='row mmgmt30'>
            <p class='col-md-4 col-text-head3b'>디지털 매체 집행</p>
			<p class='col-md-8 col-text-4a mmgmt30'>콜랩만의 디지털 미디어 마케팅 경험을 바탕으로 <br class="mbr">효율성 높은 캠페인 솔루션을 제공하고 <br class="pbr">데이터 분석을 통해 <br class="mbr">브랜드 및 상품 홍보의 타겟 고객에게 콘텐츠 노출을 보장합니다.</p>
          </div>
		  
          <div class='row confw2 mmgmt50'>
              <div class='col-md-3 col-sm-6 col-xs-6 nopadding '>
                <div class='col-baicon '>
                  <p><img class='col-baicon-img1' src='/collab/icons/ba/dmc1.svg' /></p>
                  <div class='col-baicon-title col-text-en col-text-center '>View Guarantee</div>
                  <div class='col-baicon-text col-text-center '>크리에이터와 함께 제작한 <br class="mbr"><br class="pbr">브랜디드 콘텐츠의 유튜브 노출률을 <br class="mbr"><br class="pbr">보장해드립니다.</div>
                </div>
              </div>
              <div class='col-md-3 col-sm-6 col-xs-6 nopadding mmgmr10'>
                <div class='col-baicon'>
                  <p><img class='col-baicon-img2' src='/collab/icons/ba/dmc2.svg' /></p>
                  <div class='col-baicon-title col-text-en col-text-center mbdnone'>YouTube Ad</div>
                  <div class='col-baicon-text col-text-center mbdnone'>브랜디드 콘텐츠를 플랫폼 내 <br class="mbr"><br class="pbr">Reserved Ad, Pre-roll 등과 같은 <br class="mbr"><br class="pbr">다양한 형태의 광고에 맞게 활용하여 <br class="mbr"><br class="pbr">노출을 최대화하고 메시지 전달을 <br class="mbr"><br class="pbr">극대화합니다.</div>
                </div>
              </div>
              <div class='col-md-3 col-sm-6 col-xs-6 nopadding '>
                <div class='col-baicon'>
                  <p><img class='col-baicon-img3' src='/collab/icons/ba/dmc3.svg' /></p>
                  <div class='col-baicon-title col-text-en col-text-center '>Targeting</div>
                  <div class='col-baicon-text col-text-center '>2,000개 이상의 유튜브 채널 <br class="mbr"><br class="pbr">데이터 분석을 통한 정확한 타겟팅으로 <br class="mbr"><br class="pbr">캠페인의 목표 고객에게 <br class="mbr">브랜드 및 <br class="pbr">제품을 노출합니다.</div>
                </div>
              </div>
              <div class='col-md-3 col-sm-6 col-xs-6 nopadding mmgmr10'>
                <div class='col-baicon'>
                  <p><img class='col-baicon-img4' src='/collab/icons/ba/dmc4.svg' /></p>
                  <div class='col-baicon-title col-text-en col-text-center bdnone'>Multi-Platform</div>
                  <div class='col-baicon-text col-text-center bdnone'>YouTube 뿐만 아니라 <br class="mbr"><br class="pbr">Instagram, Facebook, TikTok 등 <br class="mbr"><br class="pbr">다양한 플랫폼으로 <br class="mbr"><br class="pbr">캠페인 확장이 가능합니다.</div>
                </div>
              </div>			  
          </div>		  
		  
		  </div>
      </div>
	  
	  
      <div class="page-section col-brand-container">
		  <div class="confw3 clearfix ">
          <div class='row pmgt50'>
            <div class='col-md-6 visible-xs visible-sm'>
              <img src='/collab/images/ba/brand-campaignn.png'>
            </div>
			
           <div class='col-md-6 visible-xs visible-sm'>
              <div class='mpd45'>
                <h3 class='col-text-3b '>광고 진행 절차</h3>
                <ul class='col-list'>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon1.svg' class='col-list-img2 zi9'>
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">1</div><div class='col-lits-content-text2'>문의</div><div class="clear"></div>
                    </div>
                  </li>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon2.svg' class='col-list-img2 zi9'>
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">2</div><div class='col-lits-content-text2'>크리에이터 섭외 및 기획</div><div class="clear"></div>
                    </div>
                  </li>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon3.svg' class='col-list-img2 zi9'>
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">3</div><div class='col-lits-content-text2'>영상제작</div><div class="clear"></div>
                    </div>
                  </li>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon4.svg' class='col-list-img2 zi9' >
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">4</div><div class='col-lits-content-text2'>채널 업로드</div><div class="clear"></div>
                    </div>
                  </li>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon5.svg' class='col-list-img2 zi9'>
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">5</div><div class='col-lits-content-text2'>분석</div><div class="clear"></div> 
                    </div>
                  </li>
                  <li class='col-flex-center'>
                    <img src='/collab/icons/ba/iconl.svg' class='iconl' >
                  </li>					  
                </ul>
			    <div class="col-list-arrow"></div>
				<div class="brdbox">
					<div class="brdl"></div><div class="brdbtn" onclick="location.href='/cl/login.html'">브랜드 캠페인 관련 문의하기</div><div class="brdr"></div><div class="clear"></div>
				</div>
              </div>
		  
            </div>			
			
            <div class='col-md-6 hidden-xs hidden-sm'>
              <div class='pcfr tcont1'>
                <h3 class='col-text-3b '>광고 진행 절차</h3>
                <ul class='col-list'>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon1.svg' class='col-list-img2 zi9'>
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">1</div><div class='col-lits-content-text2'>문의</div><div class="clear"></div>
                    </div>
                  </li>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon2.svg' class='col-list-img2 zi9'>
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">2</div><div class='col-lits-content-text2'>크리에이터 섭외 및 기획</div><div class="clear"></div>
                    </div>
                  </li>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon3.svg' class='col-list-img2 zi9'>
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">3</div><div class='col-lits-content-text2'>영상제작</div><div class="clear"></div>
                    </div>
                  </li>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon4.svg' class='col-list-img2 zi9' >
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">4</div><div class='col-lits-content-text2'>채널 업로드</div><div class="clear"></div>
                    </div>
                  </li>
                  <li class='col-flex-center mgb20'>
                    <img src='/collab/icons/ba/icon5.svg' class='col-list-img2 zi9'>
                    <div class="col-list-content">
                      <div class="col-lits-content-title2 col-text-en">5</div><div class='col-lits-content-text2'>분석</div><div class="clear"></div> 
                    </div>
                  </li>
                  <li class='col-flex-center'>
                    <img src='/collab/icons/ba/iconl.svg' class='iconl' >
                  </li>					  
                </ul>
			    <div class="col-list-arrow"></div>
				<div class="brdbox">
					<div class="brdl"></div><div class="brdbtn" onclick="location.href='/cl/login.html'">브랜드 캠페인 관련 문의하기</div><div class="brdr"></div><div class="clear"></div>
				</div>
              </div>
		  
            </div>
			
            <div class='col-md-6 hidden-xs hidden-sm'>
              <img src='/collab/images/ba/brand-campaignn.png' class="brdimg">
            </div>
          </div>
        </div>
      </div>
      <div class="page-section nopadding red col-position-relative col-brand-cliens-container hidden-xs">
        <div class='col-half-bg-white'></div>
        <div class="container clearfix nopadding">
          <img src='/collab/images/ba/work-with.jpg'>
          <div class='col-overlay col-overlay-red'>
            <h2 class="col-text-head2 col-text-en col-overlay-text">Collab works with</h2>
          </div>
        </div>
      </div>
	   
      <div class="page-section nopadding red col-position-relative col-brand-cliens-container visible-xs">
        <div class="container clearfix nopadding">
          <img src='/collab/images/ba/work-withm.png'>
          <div class='col-overlay col-overlay-red'>
            <h2 class="col-text-head2 col-text-en col-overlay-text2 mpd45">Collab works with</h2>
          </div>
        </div>
      </div>
	  
      <div class="page-section">
        <div class="container clearfix">
          <div class='row'>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/lg.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/amorepacific.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/samsung.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/nexon.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/loreal.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/wwbro.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/wishcompany.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/estee.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/kakao.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/netmarble.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/discovery.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/kolon.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/olive.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/ea.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/ubisoft.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/foreo.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/bymktg.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/tinder.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/smilegate.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/namco.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/beiersdorf.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/mdcom.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/bluehole.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/wargaming.png">
                </div>
              </div>
            
              <div class='col-md-p20'>
                <div class='col-client-img'>
                  <img src="/collab/images/ba/xd.png">
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer2.html" . }}
</div>

{{ end }}
